{% extends 'layout.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/item_info.css' %}">
{% endblock %}


{% block main %}
    <div class="product-container">
        <div class="image-section">
            <img class="product-image-page" src="{% static 'images/' %}{{ product.image_path.0 }}"
                 alt="{{ product.name }}" width="300">
        </div>
        <div class="text-section">
            <h2>{{ product.name }}</h2>
            <p><strong>Ár:</strong> {{ product.price }},-Ft</p>
            <p><strong>Színek:</strong>
                {% for color in product.colors %}
                    <span class="color-badge">{{ color }}</span>
                {% endfor %}
            </p>
            <p><strong>Bolt:</strong>
                <span class="shop-badge">{{ shops.name }}</span>
            </p>
            {% if product.category != 'Telefon' %}
            {% else %}
                <p class="dropdown-label"><strong>Termék adatok:</strong></p>
                <ul class="spec-list">
                    <li>CPU: {{ product.specs.CPU_type }} @ {{ product.specs.CPU_speed }}</li>
                    <li>Display: {{ product.specs.display_size }} - {{ product.specs.resolution }}
                        ({{ product.specs.display_technology }})
                    </li>
                    <li>Refresh Rate: {{ product.specs.max_refresh_rate }}</li>
                    <li>S Pen Support: {{ product.specs.Spen|yesno:"Igen,Nem" }}</li>
                    <li>Camera: {{ product.specs.camera }}</li>
                    <li>Memory: {{ product.specs.memory|join:", " }}</li>
                    <li>Storage: {{ product.specs.storage|join:", " }}</li>
                    <li>OS: {{ product.specs.os }}</li>
                    <li>Charging: {{ product.specs.charge }}</li>
                    <li>Sensors: {{ product.specs.sensors }}</li>
                    <li>Size: {{ product.specs.size }}</li>
                    <li>Weight: {{ product.specs.weight }} g</li>
                    <li>Battery: {{ product.specs.battery }} mAh</li>
                    <li>Release Date: {{ product.specs.release_date }}</li>
                </ul>
            {% endif %}
            {% if request.user.is_authenticated and not request.user.is_staff %}
                <form method="get" action="{% url 'add_to_cart' product.id %}">
                    {% if product.specs.memory|length > 1 %}
                        <label class="dropdown-label" for="memory-select"><strong>Válassz memóriát:</strong></label>
                        <select class="dropdown-padding" name="memory" id="memory-select" required>
                            <option value="">-- Válassz --</option>
                            {% for memory in product.specs.memory %}
                                <option value="{{ memory }}">{{ memory }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                    {% if product.category != 'Telefon' %}
                    {% else %}
                        <label class="dropdown-label" for="storage-select"><strong>Válassz tárhelyet:</strong></label>
                        <select class="dropdown-padding" name="storage" id="storage-select" required>
                        <option value="">-- Válassz --</option>
                        {% for storage in product.specs.storage %}
                            <option value="{{ storage }}">{{ storage }}</option>
                        {% endfor %}
                    {% endif %}
                    </select>
                    {% if product.colors|length > 1 %}
                        <label class="dropdown-label" for="color-select"><strong>Válassz színt:</strong></label>
                        <select class="dropdown-padding" name="color" id="color-select" required>
                            <option value="">-- Válassz --</option>
                            {% for color in product.colors %}
                                <option value="{{ color }}">{{ color }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}

                    <button type="submit" class="btn kosar_btn">Kosárba</button>
                <div class="order-btn">
                    <button type="submit" class="btn order_btn" id="order">Megrendelés</button>
                </div>
                </form>

            {% else %}
                {% if user.is_superuser %}
                    <div style="align-content: center">
                        <a href="{% url 'edit_specs' product.id %}" class="btn">Termék szerkesztése</a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="order-product order-product-out">
        <form method="POST">
            <h3 class="order-add-title-card">{{ product.name }} termék megrendelése</h3>
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.quantity.id_for_label }}">Mennyiség</label>
                {{ form.quantity }}
                {{ form.quantity.errors }}
            </div>
            <div class="form-group">
                <label for="{{ form.color.id_for_label }}">Szín</label>
                {{ form.color }}
                {{ form.color.errors }}
            </div>

            {% if product.category == "Telefon" %}
                <div class="form-group">
                    <label for="{{ form.storage.id_for_label }}">Tárhely</label>
                    {{ form.storage }}
                    {{ form.storage.errors }}
                </div>
            {% endif %}

            <button class="btn" type="submit">Rendelés leadása</button>
            <button class="back_btn" type="submit">Vissza</button>

        </form>
    </div>
    <script src="{% static 'js/order_product.js' %}"></script>
{% endblock %}

