{% extends 'layout.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/receipts.css' %}">
{% endblock %}

{% block main %}
    <div class="receipt_container">
        <table class="receipt-list">
            <tr class="receipt-head">
                <th>Dátum</th>
                <th>Vásárló neve</th>
                <th>Összeg</th>
                <th>Számla Sztornózása</th>
            </tr>
            {% for receipt in receipts %}
                <tr class="receipt-item">
                    <td>{{ receipt.selling_date|date:"Y-m-d H:i" }}</td>
                    <td>{{ receipt.costumer_name }}</td>
                    <td>{{ receipt.total_price }} Ft</td>
                    <td>
                        <button class="btn delete-receipt" data-id="{{ receipt.id }}">Sztornó</button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script src="{% static 'js/receipt_delete.js' %}"></script>
{% endblock %}