{% extends 'layout.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/update_user.css' %}"/>
{% endblock %}

{% block main %}
    <div class="user-add-div">
        <div class="user-add-container">
            <form method="POST">
                <h3 class="user-add-title-card">Felhasználó szerkesztése: {{ form.instance.username }} ({{ form.instance.last_name }} {{ form.instance.first_name }})</h3>
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Felhasználónév</label>
                    {{ form.username }}
                    <small>Felhasználónév: csak betűk, számok és @/./+/-/_ karakterek engedélyezettek.</small>
                </div>
                <div class="form-group">
                    <label for="{{ form.first_name.id_for_label }}">Keresztnév</label>
                    {{ form.first_name }}
                </div>
                <div class="form-group">
                    <label for="{{ form.last_name.id_for_label }}">Vezetéknév</label>
                    {{ form.last_name }}

                </div>
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Email cím</label>
                    {{ form.email }}
                    <p class="error">{{ form.email.errors.0 }}</p>
                </div>
                <div class="form-group">
                    <label for="{{ form.is_active.id_for_label }}">Aktív</label>
                    {{ form.is_active }}
                </div>
                <button class="btn" type="submit">Mentés</button>
            </form>
        </div>
    </div>
{% endblock %}
